*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.header{
    align-items: center;
    text-align: center;
}
.header h1{
    font-size: 50px;
}
.counter{
    text-align: center;
    margin: 50px;
}
.counter h1{
    font-size: 100px;
}
.btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-container button{
    font-size: 20px ;
    padding: 10px 20px;
    margin: 20px 10px;
}